/*
 * Global page styling.
 */

#github-fork-me {
    fill: #151513;
    color: #fff;
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
    z-index: 1000;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0);
    }
    20%, 60% {
        transform: rotate(-25deg);
    }
    40%, 80% {
        transform: rotate(10deg);
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}

.w-18 {
    width: 18% !important;
}

.w-20 {
    width: 20% !important;
}

/*
 * Assets tree
 */

ul.tree {
    list-style: none;
    padding: 0 2em;
}

ul.tree ul {
    list-style: none;
    padding-left: 2em;
}

.tree, .tree ul, .tree li {
    position: relative;
}

.tree li {
    padding: .4em;
}

.tree li span.badge {
    vertical-align: text-bottom;
    padding: .4em;
}

.tree li::before, .tree li::after {
    content: "";
    position: absolute;
    left: -1em;
}

.tree li::before {
    border-top: 1px solid #000;
    top: 1.1em;
    width: .75em;
    height: 0;
}

.tree li::after {
    border-left: 1px solid #000;
    height: 100%;
    width: 0px;
    top: .1em;
}

.tree li:last-child::after {
    height: 1em;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
    padding: 0;
}

.sidebar .nav {
    margin-bottom: 2em;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}

/*
 * Logout page styling.
 */

/* This parent can be any width and height */
.logout {
    height: 400px;
    text-align: center;

    /* May want to do this if there is risk the container may be narrower than the element inside */
    white-space: nowrap;
}

/* The ghost, nudged to maintain perfect centering */
.logout:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can also be of any width and height */
.centered {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}
